/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-color2: #b2ff9ebd;
    --main-transition:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --main-footcolor:#d4d4d4;
}
body{
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
 text-decoration: none;
}
.container{
 padding-left: 15px;
 padding-right: 15px;
 margin-left: auto;
 margin-right: auto;
}
/* Small  */
@media (min-width:768px){
    .contanier{
        width: 750px;
    }
}
/* Meduim  */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large  */
@media (min-width:1120px){
    .container{
        width:1170px
    }
}
.main-title{
    margin: 0 auto 80px;
    width: fit-content;
    border: 2px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 30px;
    transition: var(--main-transition);
    position: relative;
    z-index: 100;
}
.main-title:hover{
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after{
  right: -30px;
}
.main-title::before{
  left: -30px;
}
.main-title:hover::before{
  z-index: -1;
  animation: left-dot 0.5s linear forwards;
}
.main-title:hover::after{
  z-index: -1;
  background-color: var(--main-color);
  animation: right-dot 0.5s linear forwards;
}

.sharp{
  position: relative;
}
.sharp::before{
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
  linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px;
}
.dots{
  background-image: url(../image/woooooooorrrrrrrlllllddddpng.png);
  background-repeat: no-repeat;
  height: 180px;
  width: 200px;
  position: absolute;
}
.dots-up{
  top: 40px;
  right: 0;
}
.dots-down{
  bottom: 40px;
  left: 0;
}
@media (max-width:991px){
  .dots{
    display: none;
  }
}
.dotsblack{
  background-image: url(../image/dotdotdot.png);
  background-repeat: no-repeat;
  height: 180px;
  width: 200px;
  position: absolute;
}

.dots-upblack{
  top: 50px;
  right: -10px;
}
.dots-downblack{
  bottom: 50px;
  left: -10px;
}
@media (max-width:991px){
  .dotsblack{
    display: none;
  }
}
/* End Global Rules */

/* /////////////////////////////////// */

/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img{
  max-width: 50px;
  margin-left: 10px;

}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */

/* //////////////////////////////////// */

/* Start Landing */
.landing{
    position: relative;
   
}
.landing .container{
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
    padding-bottom: 120px;
}
.landing::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -40px;
    background-color: #e0fcff;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;

}
.landing .text{
    flex: 1;
}

.landing .text h1{
    font-size: 40px;
    margin: 0 0 20px;
    letter-spacing: -2px;
}
@media (max-width:767px){
    .landing .text h1{
        font-size: 28px;
    }
    
}
.landing .text p{
    color: #666;
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width:767px){
    .landing .text p{
        font-size: 18px;
    }
}
.landing .image img{
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-and-down 5s linear infinite;
}
@media (max-width:991px){
    .landing .container{
        flex-direction: column;
    }    
    .landing .image img{
      width: 0;
    }
    .landing .text{
        padding-top: 140px;
        text-align: center;
    }
    .landing .image img{
        padding-bottom: 60px;
    }
}
.landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down i{
    animation: up-down 2s linear infinite;
    
}
.landing .go-down:hover{
    color: #f86a52;
}
/* End Landing */

/* ///////////////////////////////////// */

/* Start Articles */
.article{
  padding-top:var(--main-padding-top) ;
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white ;
}
.article .container{
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
 gap: 40px;
}
.article .box{
 border-radius: 2%;
 background-color: white;
 overflow: hidden;
 box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
 transition: transform var(--main-transition),box-shadow var(--main-transition);
}
.article .box:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.article .box img{
  max-width: 100%;
  
}
.article .box .text{
 padding: 20px;
}
.article .box .text h3{
  margin: 0;
  
}
.article .box .text p{
  padding: 10px 0 0;
  color: #777;
  line-height: 1.5;
}
.article .box .info{
 padding: 20px;
 display: flex;
 justify-content: space-between;
 border-top: 1px solid #ddd;
 align-items: center;
 
}
.article .box .info a{
 color: var(--main-color);
 font-weight: bold;
}
.article .box .info i{
  color: var(--main-color);

}
.article .box:hover .info i{
  animation: tic-tac 0.5s linear infinite;
 
}
/*End Articles */

/* ////////////////////////////////////// */

/* Start Gallary */
.gallary{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--main-color2);
}
.gallary .container{
 display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
 gap: 40px;
}
.gallary .box {
 padding: 15px;
 background-color: white;
 box-shadow:  0 2px 4px 0 rgb(0 0 0 /12%),0 12px 20px 0 rgb(0 0 0 /13%);
}
.gallary .box .image{
  overflow: hidden;
  position: relative;
}
.gallary .box .image::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255 255 255 / 20%);
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  opacity: 0; 
  z-index: 2;
}
.gallary .box .image:hover::before{
  animation: flashing 0.7s;
}
.gallary .box .image:hover img{
  transform: rotate(4deg) scale(1.1);
}
.gallary .box img{
 max-width: 100%;
 transition: 0.5s;
}
/* End Gallary */

/* /////////////////////////////////////// *

/* Start Features */
.features{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.features .box{
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .image {
 position: relative;
 overflow: hidden;
 
}
.features .box .image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}

.features .box .image::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 150px 500px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
  z-index: 5;
}
.features .box .image:hover::after{
  border-width: 150px 500px 150px 0;
}
.features .container .image img{
  max-width: 100%;
}
.features .box h2{
  font-size: 40px;
  margin: auto;
  position: relative;
  width: fit-content;
}
.features .box h2::after{
  content: "";
  position: absolute;
  height: 5px;
  
  bottom: -15px;
  left: 15px;
  width: calc(100% - 30px);

}
.features .box p{
  line-height: 2;
  color: #777;
  padding: 25px;
  margin: 15px 25px;
}
.features .box a{
  font-weight: bold;
  border: 1px solid transparent;
  padding: 10px 25px;
  width: fit-content;
  margin: 0 auto 30px;
  display: block;
  font-size: 22px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .image::before{
  background-color: rgb(256 64 54 / 45%);
  z-index:1;
}
.features .quality h2::after{
   background-color: #f44036;
}
.features .quality a{
  border-color: #f44036;
  background:linear-gradient(to right,#f44036 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #f44036 ;
}
.features .box:hover a{
  background-position: left bottom;
  color: white;
}
.features .time .image::before{
  background-color: #0080005e;
  z-index:1;
}
.features .time h2::after{
   background-color: #008000;
}
.features .time a{
  border-color: #008000;
  background:linear-gradient(to right,#008000 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color:#008000 ;
}
.features .passion .image::before{
  background-color:rgb(3 117 256 / 45%);;
  z-index:1;
}
.features .passion h2::after{
   background-color: #03a9f4;
}
.features .passion a{
  border-color: #03a9f4;
  background:linear-gradient(to right,#03a9f4 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #03a9f4;
}

/* End Features */

/* /////////////////////////////////////// */

/* Start Testimonials */
.testimonials{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--main-color2);
  position: relative;
}
.testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.testimonials .box{
  background-color:white;
  position: relative;
  box-shadow: 0 2px 4px rgb(255 255 0 / 50%);
  border-radius: 6px;
  padding: 20px;
}
.testimonials .box img{
  width: 100px;
  height: 100px;
  border: 10px solid var(--main-color2);
  background-color: var(--main-color2);
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -10px;
}

.testimonials .box h3{
  margin:0 0 10px;

}
.testimonials .box .title{
  display: block;
    margin-bottom: 10px;
    color: #777;
}

.testimonials .box .star .filled{
  color: #ffc107;
}
.testimonials .box p{
  color: #777;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 0;
}
/* End Testimonials */

/* /////////////////////////////// */

/* Start Team */
.team{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
}

.team .box{
  position: relative;
}
.team .box::before,
.team .box::after{
  content: "";
  background-color: #f3f3f3;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 10px;
  top: 0;
  transition: var(--main-transition);
}
.team .box::before{
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after{
  width: 0;
  z-index: -1;
  background-color: #e4e4e4;
}
.team .box:hover::after{
  width: calc(100% - 60px);
}
.team .box .data{
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img{
  max-width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
    height: 300px;
    width: 300px;
}
.team .box:hover img{
  filter: grayscale(100%);
}
.team .box .data .social{
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .box .data .social a{
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .box .data .social i{
  color: #777;
  transition: var(--main-transition);
}
.team .box .data .social i:hover{
  color: var(--main-color);
}
.team .box .info{
  padding-left: 80px;
}
.team .box .info h3{
  color: var(--main-color);
  font-size: 22px;
  margin-bottom: 0;
  transition: var(--main-transition);
}
.team .box:hover .info h3{
  color: #777;
}
.team .box .info p{
  margin-top: 10px;
  margin-bottom: 25px;
}
/* End Team */

/* ///////////////////////////////////////// */

/* Start Services */
.service{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--main-color2);
}
.service .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 40px;
}
.service .box{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 /12%), 0 12px 20px rgb(0 0 0 /13%) ;
  position: relative;
  counter-increment: service;
  transition: var(--main-transition);
}
.service .box::before{
  content: "";
  position: absolute;
  background: var(--main-color);
  top: -3px;
  width: 0;
  height: 3px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.service .box:hover{
  transform: translateY(-10px);
}
.service .box:hover::before{
  width: 100%;
  
}
.service .box i{
  color: #d5d5d5;
  margin: 30px auto 20px;
    display: block;
    text-align: center;
}
.service .box h3{
  color: var(--main-color);
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
}
.service .box .info{
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
} 
.service .box .info::before{
  content: "0" counter(service);
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  width: 80px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-right: 15px;
}
.service .box .info::after{
  content: "";
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #d5d5d5;
  height: calc(99% + 0.4px);
  width: 50px;
  transform: skewX(-30deg);
}
.service .box .info a{
  color: var(--main-color);
}

/* End Services */

/* ///////////////////////////////////// */

/* Start Skills */
.our-skill{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skill .container{
  display: flex;
    align-items: center;
}
.our-skill .container img{
  width: 50%;
}
@media (max-width:991px){
  .our-skill .container img{
    display: none;
  }
}
.our-skill .skills{
  flex:1;
}
.our-skill .skill h3{
  display: flex;
  justify-content: space-between;
}
.our-skill .skill h3 span{
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 12px;
}
.our-skill .skill .progrees{
  position: relative;
  background-color: #ccc;
  height: 30px;
}
.our-skill .skill .progrees span{
  background-color: var(--main-color);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* End Skills */

/* //////////////////////////////////// */

/* Start Works */
.work{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--main-color2);
}
.work .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work .images{
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width:991px){
  .work .container{
    flex-direction: column;
  }
  .work .images img{
    margin: 0 0 50px;
    width: 127%;
  }
}

.work .about .box{
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f6f5f5;
  position: relative;
    border: 2px solid white;
    z-index: 1;
}
@media (max-width:767px){
  .work .about .box{
    flex-direction: column;
    text-align: center;
  }
  .work .about .box img{
    margin: 0 0 20px;
  }
  .work .about .box .info{
    text-align: center;
  }
}
.work .about .box::before{
  content: "";
  position:absolute;
  top: 50%;
  height: 0;
  width: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: var(--main-transition);
}
.work .about .box:hover::before{
  width: 100%;
  height: 100%;
  background-color: var(--main-color2);
  z-index: -1;
}

.work .about .box img{
  width: 64px;
  margin-right: 30px;
}
.work .about .box h3{
  margin: 0 auto;
  font-size: 22px;
}
.work  .about .box p{
  line-height: 1.6;
  color: #777;
  margin:10px auto  0;
  font-size: 18px;
}

/* End Works */

/* ////////////////////////////////////////////// */

/* Start Events */
.events{
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
}
.events .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events .container img{
    max-width: 35%;
}
@media (max-width:991px){
  .events .container img{
    display: none;
  }
}
.events .info{
 flex: 1; 
}
.events .info .time{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px auto;
  

}
.events .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  transition: var(--main-transition);
  text-align: center;
}
.events .info .time .unit:hover{
  border: 1px solid var(--main-color);
}
.events .info .time .unit span{
  display: block;
}
.events .info .time .unit span:first-child{
  display: block;
  color: var(--main-color);
  font-size: 40px;
  position: relative;
  font-weight: bold;
  padding: 50px 15px 15px;
}
.events .info .time .unit span:first-child::before{
  content: "0-";
  position: absolute;
  width: 39px;
  top: 8px;

}
.events .info .time .unit span:last-child{
  transition: var(--main-transition);
  padding:8px  10px;
  border-top: 1px solid #d4d4d4;
  font-size: 13px;
}
.events .info .time .unit:hover span:last-child{
  border-top: 1px solid var(--main-color);
  
}
.events .info .title{
   text-align: center;
    margin-top: 35px;
    font-size: 32px;
}
.events .info .description{
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  color: #777;
 
}
.events  .subscribe{
    margin-top: 70px;
    width: 100%;
}
.events .subscribe form{
  background-color: var(--main-color2 );
    width: 600px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media(max-width:767px){
  .events .subscribe form{
   flex-direction: column;
   width: 100%;
   border-radius: 0;
   padding: 15px;
  }
}
.events  .subscribe  form input[type="gmail"]{
  padding: 20px;
  border: none;
  border-radius: 50px;
  flex: 1;
  outline: none;
  caret-color: var(--main-color);
}
.events  .subscribe  form input[type="gmail"]::placeholder{
  transition: opacity var(--main-transition);
}
.events  .subscribe  form input[type="gmail"]:focus::placeholder{
  opacity: 0;
}
.events  .subscribe form input[type="submit"]{
  padding: 20px;
  border-radius: 50px;
  color: white;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: var(--main-transition);
}
.events  .subscribe form input[type="submit"]:hover{
  background-color: var(--main-color-alt);
}
@media(max-width:991px){
  .events  .subscribe  form input[type="gmail"],
  .events  .subscribe form input[type="submit"]{
    border-radius: 0;
  }
}
/* End Events */

/* //////////////////////////////////////////////// */

/* Start Pricing */
.pricing{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--main-color2);
  position: relative;
}
.pricing .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.pricing .box{
  background-color: white;
  text-align: center;
  padding: 30px;
  transition: var(--main-transition);
  position: relative;
  z-index: 2;
  box-shadow: 0 12px 20px rgb(0 0 0 /13%),0 2px 4px rgb(0 0 0 /12%);
}
.pricing .box::before{
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  z-index: -1;
  right: 0;
  transition: var(--main-transition);
  top: 0;

}
.pricing .box:hover::before,
.pricing .box:hover::after{
  width: 100%;
  background-color: rgb(132 207 241 / 10%);
  ;
}
.pricing .box::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 0;
  height: 50%;
  left: 0;
  bottom: 0;
  transition: var(--main-transition);

}
@media (min-width:1200px){
  .pricing .popular{
    top:-20px
  }
}
.pricing .popular .lable{
  position: absolute;
  writing-mode: vertical-lr;
  right: 20px;
  top: 0px;
  color: white;  
  background: var(--main-color);
  padding: 10px 10px 35px;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
} 
 .pricing .popular .lable::before{
  content:"";
  position: absolute;
  border-style: solid;
  border-color:transparent transparent white transparent;
  border-width: 20px;
  bottom: 0;
  left: 0;
} 
.pricing .box img{
  max-width: 75px;
  margin-bottom: 20px;
}
.pricing .box .title{
  font-weight: bold;
  margin: 20px 10px;
  letter-spacing: -1;
  font-size: 25px;
}
.pricing .box .price{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.pricing .box .price span:first-child{
  font-size: 60px;
  margin-bottom: 5px;
  color: var(--main-color);
  font-weight: bold;
}
.pricing .box .price span:last-child{
  color: #888; 
}
.pricing .box ul{
  text-align: left;
  font-size: 18px;
}
.pricing .box ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  margin-right: 16px;
  color: var(--main-color);
}
.pricing .box  li{
  padding: 20px;
  border-top: 1px solid #ccc;
}
.pricing .box a{
    padding: 15px 20px;
    display: block;
    border: 1px solid var(--main-color-alt);
    width: fit-content;
    margin: 15px auto;
    border-radius: 10px;
    color: var(--main-color);
    transition: var(--main-transition);
    font-weight: bolder;
}
.pricing .box a:hover{
  background-color: var(--main-color-alt);
  color: white;
}
/* End Pricing */

/* ///////////////////////////////////////////////////// */

/* Start Video */
.video{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.video .box{
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
}
@media (max-width:991px){
  .video .box{
    flex-direction: column;
  }
  .video .box .list{
    margin-bottom: 10px;
    min-width: 300px;
  }
}

.video .box .list  .name{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(33 150 243 / 11%);
  font-weight: bold;
    font-size: 18px;
    color: var(--main-color);
}
.video .box .list ul li {
  width: 289px;
  padding: 15px;
  border-top: 1px solid #ccc;
  cursor: pointer;
  transition: var(--main-transition);
}
.video .box .list ul li:hover{
  color: var(--main-color);
  background-color: #ececec;
}
.video .box .list ul li:hover span{
  color: #c03333;
}

.video .box .list ul li span{
  display: block;
  margin-top: 10px;
  transition: var(--main-transition);
  color: #777;
}
.video .box .vido{
  background-color: rgb(33 150 243 / 8%);;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.video .box .vido img{
  max-width: 100%;
}
.video .box .vido .info{
  padding: 20px;
  font-size: 17px;
  background-color: white;
  margin: 10px;
}


/* End Video */

/* /////////////////////////////////////////////////// */

/* Start State */
.state{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../image/wallpaperflare.com_wallpaper\ \(64\).jpg);
  background-size: cover;
}
.state::before{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: rgb(255 255 255 / 90%);
  height: 100%;
}
.state .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
}
.state .box {
  padding: 30px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  align-items: center;
  position: relative;
  
}
.state .box::before,
.state .box::after{
  content: "";
  position: absolute;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
  width: 2px;
}
.state .box::before{
  top:0;
  right: 0;
}
.state .box::after{
 bottom: 0;
 left: 0;
}
.state .box:hover::before,
.state .box:hover::after{
  height: 100%;
  opacity: 1;
}
.state .box i{
color: var(--main-color);
}
.state .box .number{
 font-size: 50px;
 margin: 10px 0;
}
.state .box .text{
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;

}
/* End State */

/* ///////////////////////////////////////////////////////////// */

/* Start discount */
.discount{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.discount .image{
  background-image: url(../image/Student_discounts.jpg);
  background-size: cover;
  flex-basis: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: white;
  animation: change-photo 10s linear infinite;
}
@media (max-width:991px){
  .discount{
        padding-bottom: 50px;
  }
  .discount .image{
    flex-basis: 100%;
  }
 
}
.discount .image::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .form{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf8f8;
}
@media (max-width:991px){
  .discount .form{
    flex-basis: 100%;
  }
}
.discount .form .input{
  display: block;
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  caret-color: var(--main-color );
}
.discount .form .input:focus{
  outline: none;
}
.discount .form textarea.input{
  resize: none;
  height: 200px;
}
.discount .form [type="submit"]{
  padding: 20px;
  width: 100%;
  border-radius: 6px;
  color: white;
  background-color: var(--main-color);
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover{
  background-color: var(--main-color-alt);
}
.discount .form .ic{
  display: flex;
}
.discount .form .ic .icon{
  max-width: 60px;
  position: relative;
  top: 30px;
  left: 16px;
}
@media (max-width:767px){
  .discount .form .ic .icon{
    display: none;
  }
 
} 
.discount .content{
  text-align: center;
  padding: 0 20px;
}
.discount .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p{
  line-height: 1.7;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img{
  width: 300px;
  max-width: 100%;
}
/* End discount */

/* /////////////////////////////////////////////////////////////// */

/* Start Footer */
.footer{
  padding:70px 0 0 ;
  background-color: #191919;
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 20px;
}
.footer .box h3{
  font-size: 50px;
  color: var(--main-color);
  margin: 0 0 20px;
}
.footer .box .social{
  display: flex;
}
@media (max-width:767px){
  .footer .box {
    text-align: center;
  }
  .footer .box .social{
    justify-content: center;
  }
}
.footer .box .social li{
   margin-right: 10px;
}
.footer .box .social li a{
  width: 50px;
  height: 50px;
    background: #313131;
    color: #898989;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: var(--main-transition);
}
.footer .box .social .facebook:hover{
  background-color: #1877f2;
}
.footer .box .social .twitter:hover{
background-color: #1da1f2;
}
.footer .box .social .youtupe:hover{
background-color: #ff0000;
}
.footer .box .text{
  color: var(--main-footcolor);
  line-height: 1.9;
  width: 200px;
  margin-top: 30px;
}
@media (max-width:767px){
  .footer .box .text{
        width: 96%;
      }
}
.footer .box .links li{
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:first-child){
  border-top: 1px solid #444;
}
.footer .box .links li:hover{
  padding-left: 10px;
}

.footer .box .links li a{
  color: var(--main-footcolor);
  transition: var(--main-transition);
}
.footer .box .links li:hover a{
 color: white;
}
.footer .box .links a::before{
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  color: var(--main-color);
  font-weight: bold;
  margin-right: 10px;

}

.footer .box .info{
    display: flex;
    color: var(--main-footcolor);
    align-items: center;
    margin-bottom: 30px;
}
.footer .box .info i{
  color: var(--main-color);
  font-size: 25px;
  margin-right: 10px;
}
.footer .box .info .about{
  line-height: 2;
  flex: 1;
}
@media (max-width:767px){
  .footer .box .info {
    flex-direction: column;
   
  }
  .footer .box .info i{
     margin-bottom: 10px;
  }
  
}
.footer .box .info  .spann span{
  display: block;
  line-height: 1.8;
}

.footer .photo img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;

}
.footer .design{
  color: var(--main-color);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    margin: 50px 0 0;
    border-top: 1px solid var(--main-color-alt);
}
/* End Footer */

/* Start Animation */
@keyframes up-and-down{
    0%,100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes up-down{
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-15px);
    
    }
}
@keyframes left-dot{
  50%{
    left: 0;
  }
  100%{
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    
  }
}
@keyframes right-dot{
  50%{
    right: 0;
  }
  100%{
    right:0;
    width: 100%;
    height: 100%;
    border-radius: 0;

  }
}
@keyframes tic-tac{
  100%{  
  transform: translateX(10px);
}
}
@keyframes flashing{
  0%,40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-photo {
  0%,
  100%{
    background-image: url(../image/Student_discounts.jpg);
  }
  50%{
    background-image: url(../image/discout\ 234432.jpg);
  }
}
/* End Animation */